body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar{
    overflow: hidden;
    background: #080;
    color: white;
}
.container{
    width: 80%;
    margin: auto;
}
.logo{
    font-size: 25px;
    width: 30%;
    float: left;
    display: block;
    margin: 10px 0;
    color: white;
}
ul{
    width: 70%;
    float: left;
    padding: 0;
    text-align: right;
}
ul a{
    text-decoration: none;
    color: white;
    margin: 0 15px;
    
}
.active{
    background: white;
    color: #080;
    padding: 3px 6px;
    border-radius: 2px;
}